.journal {
  min-height: 70vh;
}
.journal-add-icon {
  position: fixed;
  top: 20vh;
  left: 70vw;
  width: 3em;
  height: 3em;
}

.journal__title {
  font-family: roboto;
  font-size: 4vh;
  letter-spacing: 0.15px;
  margin: 1em auto;
  display: inline-block;
}

.journal__loading {
  margin: 5em auto;
  width: fit-content;
}
