.all-pictures__title {
  font-family: roboto;
  font-size: 4vh;
  letter-spacing: 0.15px;
  width: 100%;
  display: block;
}

.collage-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2em;
  min-height: 53vh;
}

.img__single {
  margin: 0.4em;
  border: 1px solid #80808080;
  border-radius: 5px;
  padding: 10px;
  width: 30vw;
  height: 30vw;
}

.pic__buttons {
  margin: 1em;
}

.add-icon {
  position: fixed;
  top: 42vw;
  left: 87vw;
}
