.all-pictures__title {
  font-family: roboto;
  font-size: 4vh;
  letter-spacing: 0.15px;
  margin-top: 10vh;
  width: 100%;
  display: block;
}

.collage-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2em;
}

.img__single {
  height: 40vw;
  width: 40vw;
  max-width: 600px;
  height: 60%;
  margin: 2em;
}
.pic__buttons {
  margin: 1em;
}
