.all-pictures__title {
  font-family: roboto;
  font-size: 4vh;

  letter-spacing: 0.15px;

  margin-top: 10vh;
}

.image-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr; */
  padding: 2em;
  margin: 2em;
  max-width: auto;
  height: auto;
}

/* .box {
  position: relative;
  width: 60%;
  max-width: 600px;
  height: 60%;
  margin: 2rem;
} */
