.info-container {
  padding: 1em;
}

.info-title {
  font-family: roboto;
  font-size: 4vh;
  letter-spacing: 0.15px;
  width: 100%;
  display: block;
  margin-bottom:1em;
}

.sub-info-title {
  font-family: roboto;
  font-size: 6vw;
  letter-spacing: 0.15px;
  width: 100%;
  display: block;
  padding-top: 1rem;
}

.info-content {
  padding: 1.5rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #000000;
  text-align: left;
}

.info-questions {
  padding: 3rem;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.info-link {
  padding-bottom: 2rem;
}

.info-stages__icon {
  width: 60vw;
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

.information--svg {
  max-height: 15vh;
  padding: 1em;
  max-width: 80vw;
}

.grief-section img, .symptoms-section img {
  max-height: 20vh;
}