.info-title {
  font-family: roboto;
  font-size: 4vh;
  letter-spacing: 0.15px;
  width: 100%;
  display: block;
}

.info-content {
  padding: 1rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
}

.grief-title {
  font-family: roboto;
  font-size: 2.5vh;
}

.symptoms-title {
  font-family: roboto;
  font-size: 2.5vh;
}
