.login {
  padding: 20px;
  min-height: 70vh;
}
.login__header {
  color: #696969;
}
.login__btn {
  margin: 3em auto;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.login__error {
  color: #d14761;
}
