.about-us__section {
  padding: 1rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
  min-height: 60vh;
  margin: .4em auto 1.5em auto;
}

.about-us__paragraph {
  text-align: left;
  padding: .8rem;
  color: #333;
  font-size: .8em;
  line-height: 1.5;
  max-width: 600px;
}

.about-us .large-skip__button {
  margin-top: .8em;
}
