.poems-page__title {
  font-family: roboto;
  font-size: 4vh;
  padding: 0 1.5em;
}

.poems-container {
  min-height: 46vh;
  padding: 1em;
}

.poems__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.poems-box {
  background: rgba(242, 202, 60, 0.32);
  border-radius: 5px;
  margin: 1em auto;
  max-width: 1000px;
  width: 80%;
  padding: 1em;
}

.poem-title {
  font-family: roboto;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: .5em;
}

.poem-buttons {
  padding: 1em;
}