.menu {
  background: #c4d5ed;
  border: 1px solid #6690d0;
  font-size: 12px;
  /* align-items: center; */
  color: #000000;
}

.menu__item {
    list-style: none;
    border-bottom: 1px solid #6690d0;
    padding: 10px;
    cursor: pointer;
}
.menu:last-child{
    border-bottom: none;
}
